{{> header}}

<div id="inventory-container">
  <div class="row">
    {{#each inventory}}
    <div class="card">
      <div class="container">
        <ul class="list-group" style="list-style-type: none;" class="inventory-details">
          <li class="item-name">Item Name: {{item_name}}</li>
          <li class="item-number">Item Number: {{item_number}}</li>
          <li class="unit-cost">Item Price: ${{unit_cost}}</li>
          <li class="quantity_instock">Quantity Instock: {{quantity_instock}}</li>
          <li class="available-quantity">Available Quantity: {{available_quantity}}</li>
          <li class="category-name">Category Name: {{category.category_name}}</li>
           <button class="edit-button" onclick="location.href='/inventory/edit/{{id}}'">Edit</button>
        </ul>
           
      </div>
    </div>
    {{/each}}

    {{!-- Add inventory item form --}}
    <div class="card">
      <div class="container">
        <form id="add-inventory-form" action="/api/inventory" method="POST">
        <div class="form-group">
          <label for="item_name">Item Name:</label>
          <input type="text" id="item_name" name="item_name" required>
        </div>
        <div class="form-group">
          <label for="item_number">Item Number:</label>
          <input type="text" id="item_number" name="item_number" required>
        </div> 
        <div class="form-group">  
          <label for="unit_cost">Unit Cost:</label>
          <input type="number" id="unit_cost" name="unit_cost" required>
        </div>   
        <div class="form-group">
          <label for="quantity_instock">Quantity in Stock:</label>
          <input type="number" id="quantity_instock" name="quantity_instock" required>
        </div>   
        <div class="form-group">  
          <label for="available_quantity">Available Quantity:</label>
          <input type="number" id="available_quantity" name="available_quantity" required>
        </div> 
        <div class="form-group"> 
          <label for="category_id">Category ID:</label>
          <input type="number" id="category_id" name="category_id" required>
        </div>   
          <button type="submit" id="submit-button">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

 <script src="/js/create-new-inventory.js"></script>

{{> footer}}