{{> header}}

<div id="inventory-container">
   <div class="row">
  {{#each Project}}
    <div class="card"> 
      <div class="container">
        <ul class="list-group" style="list-style-type: none;" class="inventory-details">
          <li class="item-name">Project Name: {{Project_name}}</li>
          <li class="item-number">Project Num: {{project_num}}</li>
          <li class="item-name">Client's Name: ${{buyer_name}}</li>
          <li class="item-name">Client's Email: {{buyer_email}}</li>
          <li class="item-number">Project Start Date: {{starting_date}}</li>
          <li class="item-number">Delivery Date: {{delivery_date}}</li>
          <li class="category-name"><a href="/{{project_num}}/team">Project Team</a></li>
          <li class="category-name"><a href="/{{project_num}}/request">Get Requests</a></li>
        </ul>
      </div>
    </div>
  {{/each}}
  </div>
</div>

{{> footer}}