{{> header}}

<div id="project-container">
   <div class="row">
  {{#each project}}
    <div class="card"> 
      <div class="container">
        <ul class="list-group" style="list-style-type: none;" class="project-details">
          {{!-- <li class="project-name">Project Name: {{Project_name}}</li> --}}
          <li class="project-name">Project Name: {{project_name}}</li>
          <li class="project-number">Project Num: {{project_num}}</li>
          <li class="buyer-name">Client's Name: ${{buyer_name}}</li>
          <li class="buyer-email">Client's Email: {{buyer_email}}</li>
          <li class="starting-date">Project Start Date: {{starting_date}}</li>
          <li class="delivery-date">Delivery Date: {{delivery_date}}</li>
          <li class="quantity_instock"><a href="/{{project_num}}/team">Project Team</a></li>
          <li class="quantity_instock"><a href="/{{project_num}}/request">Get Requests</a></li>
        </ul>
      </div>
    </div>
  {{/each}}
  </div>
</div>

{{> footer}}